ul{
	list-style: none;
}
.menu{
	width: 100px;
	height: 50px;
	border: 1px solid white;
	color: white;
	padding: 2px;
	background-color: green;
	line-height: 50px;
	text-align: center;
}
.menu-lv1 {
	float: left;
	position: relative;
}
.parent-lv2{
	display: none;
	position: absolute;
	top:55px;
	left: -2px;
}
.menu-lv1:hover .parent-lv2{
	display: block;
}
.menu:hover{
	background-color: lightgreen
}